<!DOCTYPE html>
<html lang="{{group.locale}}">
  <head>
    <title>Not Found · {{group.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <header>
        <h5>
          <a href="/" id="logo"><img src="https://builds.queertangocollective.org/admin/assets/images/black-logo-62ff338d6c4c313c8a096da504da0228.png"
              alt="{{group.name}}" title="{{group.name}}"></a>{{~_~}}
          <a href="/" id="text-logo">{{group.name}}</a>
        </h5>
        <nav>
          <ul>
            {{#each sections as |section|}}
              <li>
                {{#if (equals section.slug "home")}}
                  <a href="/" {{#if (equals section.id ../post.section.id)}} class="active" {{/if}}>
                    {{~section.name~}}
                  </a>
                {{else}}
                  <a href="/{{section.slug}}" {{#if (equals section.id ../post.section.id)}} class="active" {{/if}}>
                    {{~section.name~}}
                  </a>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </nav>
      </header>
      <article>
        <div class="container">
          <h2>Not Found</h2>
          <p>The page you requested doesn't exist.</p>
        </div>
      </article>
    </main>
    <footer>
      <a href="mailto:{{group.email}}">{{group.name}}</a>
    </footer>
    <script src="/scripts/header.js"></script>
  </body>
</html>