{{#if (equals attrs.size 'large')}}
  <figure class="mosaic size-{{attrs.size}}">
    {{#each attrs.photos as |photo|}}
      <img {{#if photo.altText}}alt="{{photo.altText}}" {{/if}}src="{{image-url photo.url}}" width={{photo.width}} height={{photo.height}}>
    {{/each}}
    {{#if attrs.caption}}
      <figcaption>
        {{attrs.caption}}
      </figcaption>
    {{/if}}
  </figure>
{{else if (equals attrs.size 'medium')}}
  <figure class='wide-container clear-fix'>
    <div class="mosaic size-{{attrs.size}}">
      {{#each attrs.photos as |photo|}}
        <img {{#if photo.altText}}alt="{{photo.altText}}" {{/if}}src="{{image-url photo.url}}" width={{photo.width}} height={{photo.height}}>
      {{/each}}
    </div>
    {{#if attrs.caption}}
      <figcaption>
        {{attrs.caption}}
      </figcaption>
    {{/if}}
  </figure>
{{else}}
  <figure class='container clear-fix'>
    <div class="mosaic size-{{attrs.size}}">
      {{#each attrs.photos as |photo|}}
        <img {{#if photo.altText}}alt="{{photo.altText}}" {{/if}}src="{{image-url photo.url}}" width={{photo.width}} height={{photo.height}}>
      {{/each}}
    </div>
    {{#if attrs.caption}}
      <figcaption>
        {{attrs.caption}}
      </figcaption>
    {{/if}}
  </figure>
{{/if}}