{{#if (equals attrs.size 'large')}}
  <figure class="size-{{attrs.size}}">
    <img src="{{image-url attrs.url}}"{{#if attrs.altText}} alt="{{attrs.altText}}"{{/if}}>
    {{#if attrs.caption}}
      <figcaption>
        {{attrs.caption}}
      </figcaption>
    {{/if}}
  </figure>
{{else if (equals attrs.size 'medium')}}
  <div class='wide-container'>
    <figure class="align-{{attrs.align}} size-{{attrs.size}}">
      <img src="{{image-url attrs.url}}"{{#if attrs.altText}} alt="{{attrs.altText}}"{{/if}}>
      {{#if attrs.caption}}
        <figcaption>
          {{attrs.caption}}
        </figcaption>
      {{/if}}
    </figure>
  </div>
{{else}}
  <div class='container clear-fix aligned-photo'>
    <figure class="align-{{attrs.align}} size-{{attrs.size}}">
      <img src="{{image-url attrs.url}}"{{#if attrs.altText}} alt="{{attrs.altText}}"{{/if}}>
      {{#if attrs.caption}}
        <figcaption>
          {{attrs.caption}}
        </figcaption>
      {{/if}}
    </figure>
  </div>
{{/if}}